exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(DEGage, .registration = TRUE)
importFrom("stats", "p.adjust", "rgamma", "rnbinom", "runif")
importFrom("utils", "install.packages", "write.csv")
importFrom("parallel", "stopCluster", "detectCores", "makeCluster", "parLapply", "parApply", "clusterExport", "parSapply", "parLapplyLB")
importFrom("MASS", "glm.nb")
importFrom("hypergeo", "genhypergeo")
importFrom("pscl", "zeroinfl")
importFrom("SingleCellExperiment", "SingleCellExperiment")
importFrom("Seurat", "ScaleData", "RunPCA", "RunTSNE", "NormalizeData", "FindVariableFeatures" , "CreateSeuratObject", "Read10X", "PercentageFeatureSet","as.SingleCellExperiment")
importFrom("doParallel", "registerDoParallel")
importFrom("SingleR", "SingleR")
importFrom("celldex", "HumanPrimaryCellAtlasData")
importFrom("foreach", "foreach", "%dopar%", "registerDoSEQ")
