exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(DEGage, .registration = TRUE)
importFrom("stats", "p.adjust", "rgamma", "rnbinom", "runif")
importFrom("utils", "install.packages", "write.csv")
importFrom("parallel", "stopCluster", "detectCores", "makeCluster", "parLapply", "parApply", "clusterExport", "parSapply", "parLapplyLB")
importFrom("MASS", "glm.nb")
importFrom("hypergeo", "genhypergeo")
importFrom("pscl", "zeroinfl")
importFrom("doParallel", "registerDoParallel")
importFrom("foreach", "foreach", "%dopar%", "registerDoSEQ")
